 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url('images/businessman-hand-holding-pen-analysis-the-graph-with-laptop-at-the-home-office-e1637055411910.jpg');
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 344px;
}

.u-section-1 .u-text-1 {
  font-weight: 500;
  margin: 60px auto 0;
}

.u-section-1 .u-text-2 {
  margin: 20px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 302px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 231px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 173px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 109px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 936px;
}

.u-section-2 .u-text-1 {
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 60px auto 0;
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  margin: 1px auto 0;
}

.u-section-2 .u-text-3 {
  font-size: 1rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  width: 496px;
  margin: 11px auto 0;
}

.u-section-2 .u-list-1 {
  width: 1119px;
  margin: 36px auto 60px;
}

.u-section-2 .u-repeater-1 {
  grid-auto-columns: calc(33.3333% - 6.66667px);
  grid-template-columns: repeat(3, calc(33.3333% - 6.66667px));
  min-height: 585px;
  grid-gap: 10px;
}

.u-section-2 .u-list-item-1 {
  transition-duration: 0.5s;
  --radius: 20px;
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 20px;
}

.u-section-2 .u-icon-1 {
  width: 50px;
  height: 50px;
  margin: 0 auto 0 0;
  padding: 0;
}

.u-section-2 .u-text-4 {
  font-weight: 700;
  transition-duration: 0.5s;
  margin: 17px 0 0;
}

.u-section-2 .u-text-5 {
  font-size: 1rem;
  margin: 20px 0 0;
}

.u-section-2 .u-btn-1 {
  font-weight: 700;
  font-size: 0.875rem;
  letter-spacing: 0px;
  text-transform: uppercase;
  margin: 30px auto 0 0;
  padding: 0;
}

.u-section-2 .u-list-item-2 {
  transition-duration: 0.5s;
  --radius: 20px;
  background-image: none;
}

.u-section-2 .u-container-layout-2 {
  padding: 20px;
}

.u-section-2 .u-icon-3 {
  width: 50px;
  height: 50px;
  margin: 0 auto 0 0;
  padding: 0;
}

.u-section-2 .u-text-6 {
  font-weight: 700;
  transition-duration: 0.5s;
  margin: 17px 0 0;
}

.u-section-2 .u-text-7 {
  font-size: 1rem;
  margin: 20px 0 0;
}

.u-section-2 .u-btn-2 {
  font-weight: 700;
  font-size: 0.875rem;
  letter-spacing: 0px;
  text-transform: uppercase;
  margin: 30px auto 0 0;
  padding: 0;
}

.u-section-2 .u-list-item-3 {
  transition-duration: 0.5s;
  --radius: 20px;
  background-image: none;
}

.u-section-2 .u-container-layout-3 {
  padding: 20px;
}

.u-section-2 .u-icon-5 {
  width: 50px;
  height: 50px;
  margin: 0 auto 0 0;
  padding: 0;
}

.u-section-2 .u-text-8 {
  font-weight: 700;
  transition-duration: 0.5s;
  margin: 17px 0 0;
}

.u-section-2 .u-text-9 {
  font-size: 1rem;
  margin: 20px 0 0;
}

.u-section-2 .u-btn-3 {
  font-weight: 700;
  font-size: 0.875rem;
  letter-spacing: 0px;
  text-transform: uppercase;
  margin: 30px auto 0 0;
  padding: 0;
}

.u-section-2 .u-list-item-4 {
  transition-duration: 0.5s;
  --radius: 20px;
  background-image: none;
}

.u-section-2 .u-container-layout-4 {
  padding: 20px;
}

.u-section-2 .u-icon-7 {
  width: 50px;
  height: 50px;
  margin: 0 auto 0 0;
  padding: 0;
}

.u-section-2 .u-text-10 {
  font-weight: 700;
  transition-duration: 0.5s;
  margin: 17px 0 0;
}

.u-section-2 .u-text-11 {
  font-size: 1rem;
  margin: 20px 0 0;
}

.u-section-2 .u-btn-4 {
  font-weight: 700;
  font-size: 0.875rem;
  letter-spacing: 0px;
  text-transform: uppercase;
  margin: 30px auto 0 0;
  padding: 0;
}

.u-section-2 .u-list-item-5 {
  transition-duration: 0.5s;
  --radius: 20px;
  background-image: none;
}

.u-section-2 .u-container-layout-5 {
  padding: 20px;
}

.u-section-2 .u-icon-9 {
  width: 50px;
  height: 50px;
  margin: 0 auto 0 0;
  padding: 0;
}

.u-section-2 .u-text-12 {
  font-weight: 700;
  transition-duration: 0.5s;
  margin: 17px 0 0;
}

.u-section-2 .u-text-13 {
  font-size: 1rem;
  margin: 20px 0 0;
}

.u-section-2 .u-btn-5 {
  font-weight: 700;
  font-size: 0.875rem;
  letter-spacing: 0px;
  text-transform: uppercase;
  margin: 30px auto 0 0;
  padding: 0;
}

.u-section-2 .u-list-item-6 {
  transition-duration: 0.5s;
  --radius: 20px;
  background-image: none;
}

.u-section-2 .u-container-layout-6 {
  padding: 20px;
}

.u-section-2 .u-icon-11 {
  width: 50px;
  height: 50px;
  margin: 0 auto 0 0;
  padding: 0;
}

.u-section-2 .u-text-14 {
  font-weight: 700;
  transition-duration: 0.5s;
  margin: 17px 0 0;
}

.u-section-2 .u-text-15 {
  font-size: 1rem;
  margin: 20px 0 0;
}

.u-section-2 .u-btn-6 {
  font-weight: 700;
  font-size: 0.875rem;
  letter-spacing: 0px;
  text-transform: uppercase;
  margin: 30px auto 0 0;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-list-1 {
    width: 940px;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: calc(33.333333333333336% - 6.66667px);
    grid-template-columns: repeat(3, calc(33.333333333333336% - 6.66667px));
    min-height: 492px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-list-1 {
    width: 720px;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: calc(50% - 5.0000025px);
    grid-template-columns: repeat(2, calc(50% - 5.0000025px));
    min-height: 857px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-list-1 {
    width: 540px;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-3 {
    width: 340px;
  }

  .u-section-2 .u-list-1 {
    width: 340px;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: 100%;
  }
}

.u-section-2 .u-list-item-1,
.u-section-2 .u-list-item-1:before,
.u-section-2 .u-list-item-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-list-item-1.u-list-item-1.u-list-item-1:hover:before {
  background-color: #000000 !important;
}

.u-section-2 .u-list-item-1.u-list-item-1.u-list-item-1:hover {
  border-radius: 20px !important;
}

.u-section-2 .u-list-item-1.u-list-item-1.u-list-item-1.hover {
  border-radius: 20px !important;
}

.u-section-2 .u-list-item-2,
.u-section-2 .u-list-item-2:before,
.u-section-2 .u-list-item-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-list-item-2.u-list-item-2.u-list-item-2:hover:before {
  background-color: #000000 !important;
}

.u-section-2 .u-list-item-2.u-list-item-2.u-list-item-2:hover {
  border-radius: 20px !important;
}

.u-section-2 .u-list-item-2.u-list-item-2.u-list-item-2.hover {
  border-radius: 20px !important;
}

.u-section-2 .u-list-item-3,
.u-section-2 .u-list-item-3:before,
.u-section-2 .u-list-item-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-list-item-3.u-list-item-3.u-list-item-3:hover:before {
  background-color: #000000 !important;
}

.u-section-2 .u-list-item-3.u-list-item-3.u-list-item-3:hover {
  border-radius: 20px !important;
}

.u-section-2 .u-list-item-3.u-list-item-3.u-list-item-3.hover {
  border-radius: 20px !important;
}

.u-section-2 .u-list-item-4,
.u-section-2 .u-list-item-4:before,
.u-section-2 .u-list-item-4 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-list-item-4.u-list-item-4.u-list-item-4:hover:before {
  background-color: #000000 !important;
}

.u-section-2 .u-list-item-4.u-list-item-4.u-list-item-4:hover {
  border-radius: 20px !important;
}

.u-section-2 .u-list-item-4.u-list-item-4.u-list-item-4.hover {
  border-radius: 20px !important;
}

.u-section-2 .u-list-item-5,
.u-section-2 .u-list-item-5:before,
.u-section-2 .u-list-item-5 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-list-item-5.u-list-item-5.u-list-item-5:hover:before {
  background-color: #000000 !important;
}

.u-section-2 .u-list-item-5.u-list-item-5.u-list-item-5:hover {
  border-radius: 20px !important;
}

.u-section-2 .u-list-item-5.u-list-item-5.u-list-item-5.hover {
  border-radius: 20px !important;
}

.u-section-2 .u-list-item-6,
.u-section-2 .u-list-item-6:before,
.u-section-2 .u-list-item-6 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-list-item-6.u-list-item-6.u-list-item-6:hover:before {
  background-color: #000000 !important;
}

.u-section-2 .u-list-item-6.u-list-item-6.u-list-item-6:hover {
  border-radius: 20px !important;
}

.u-section-2 .u-list-item-6.u-list-item-6.u-list-item-6.hover {
  border-radius: 20px !important;
}

.u-block-577f-89:not([data-block-selected]):not([data-cell-selected]),
.u-block-577f-89:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-577f-89:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-container-layout:hover > .u-block-577f-89:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
  opacity: 1 !important;
}

.u-container-layout.hover > .u-block-577f-89:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
  opacity: 1 !important;
}

.u-block-577f-90:not([data-block-selected]):not([data-cell-selected]),
.u-block-577f-90:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-577f-90:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-container-layout:hover > .u-block-577f-90:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
  opacity: 1 !important;
}

.u-container-layout.hover > .u-block-577f-90:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
  opacity: 1 !important;
}

.u-block-577f-91:not([data-block-selected]):not([data-cell-selected]),
.u-block-577f-91:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-577f-91:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-container-layout:hover > .u-block-577f-91:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
  opacity: 1 !important;
}

.u-container-layout.hover > .u-block-577f-91:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
  opacity: 1 !important;
}

.u-block-577f-92:not([data-block-selected]):not([data-cell-selected]),
.u-block-577f-92:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-577f-92:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-container-layout:hover > .u-block-577f-92:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
  opacity: 1 !important;
}

.u-container-layout.hover > .u-block-577f-92:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
  opacity: 1 !important;
}

.u-block-577f-93:not([data-block-selected]):not([data-cell-selected]),
.u-block-577f-93:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-577f-93:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-container-layout:hover > .u-block-577f-93:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
  opacity: 1 !important;
}

.u-container-layout.hover > .u-block-577f-93:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
  opacity: 1 !important;
}

.u-block-577f-53:not([data-block-selected]):not([data-cell-selected]),
.u-block-577f-53:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-577f-53:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-container-layout:hover > .u-block-577f-53:not([data-block-selected]):not([data-cell-selected]):before {
  background-color: #000000 !important;
}

.u-block-577f-60:not([data-block-selected]):not([data-cell-selected]),
.u-block-577f-60:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-577f-60:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-container-layout:hover > .u-block-577f-60:not([data-block-selected]):not([data-cell-selected]):before {
  background-color: #000000 !important;
}

.u-block-577f-67:not([data-block-selected]):not([data-cell-selected]),
.u-block-577f-67:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-577f-67:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-container-layout:hover > .u-block-577f-67:not([data-block-selected]):not([data-cell-selected]):before {
  background-color: #000000 !important;
}

.u-block-577f-74:not([data-block-selected]):not([data-cell-selected]),
.u-block-577f-74:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-577f-74:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-container-layout:hover > .u-block-577f-74:not([data-block-selected]):not([data-cell-selected]):before {
  background-color: #000000 !important;
}

.u-block-577f-81:not([data-block-selected]):not([data-cell-selected]),
.u-block-577f-81:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-577f-81:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-container-layout:hover > .u-block-577f-81:not([data-block-selected]):not([data-cell-selected]):before {
  background-color: #000000 !important;
}

.u-block-577f-56:not([data-block-selected]):not([data-cell-selected]),
.u-block-577f-56:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-577f-56:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-container-layout:hover > .u-block-577f-56:not([data-block-selected]):not([data-cell-selected]) {
  color: #ffffff !important;
}

.u-container-layout.hover > .u-block-577f-56:not([data-block-selected]):not([data-cell-selected]) {
  color: #ffffff !important;
}

.u-block-577f-63:not([data-block-selected]):not([data-cell-selected]),
.u-block-577f-63:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-577f-63:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-container-layout:hover > .u-block-577f-63:not([data-block-selected]):not([data-cell-selected]) {
  color: #ffffff !important;
}

.u-container-layout.hover > .u-block-577f-63:not([data-block-selected]):not([data-cell-selected]) {
  color: #ffffff !important;
}

.u-block-577f-70:not([data-block-selected]):not([data-cell-selected]),
.u-block-577f-70:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-577f-70:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-container-layout:hover > .u-block-577f-70:not([data-block-selected]):not([data-cell-selected]) {
  color: #ffffff !important;
}

.u-container-layout.hover > .u-block-577f-70:not([data-block-selected]):not([data-cell-selected]) {
  color: #ffffff !important;
}

.u-block-577f-77:not([data-block-selected]):not([data-cell-selected]),
.u-block-577f-77:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-577f-77:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-container-layout:hover > .u-block-577f-77:not([data-block-selected]):not([data-cell-selected]) {
  color: #ffffff !important;
}

.u-container-layout.hover > .u-block-577f-77:not([data-block-selected]):not([data-cell-selected]) {
  color: #ffffff !important;
}

.u-block-577f-84:not([data-block-selected]):not([data-cell-selected]),
.u-block-577f-84:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-577f-84:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-container-layout:hover > .u-block-577f-84:not([data-block-selected]):not([data-cell-selected]) {
  color: #ffffff !important;
}

.u-container-layout.hover > .u-block-577f-84:not([data-block-selected]):not([data-cell-selected]) {
  color: #ffffff !important;
}

.u-section-2 .u-text-4,
.u-section-2 .u-text-4:before,
.u-section-2 .u-text-4 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-container-layout:hover .u-text-4 {
  color: #ffffff !important;
}

.u-container-layout.hover > .u-section-2 .u-text-4 {
  color: #ffffff !important;
}

.u-section-2 .u-text-6,
.u-section-2 .u-text-6:before,
.u-section-2 .u-text-6 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-container-layout:hover .u-text-6 {
  color: #ffffff !important;
}

.u-container-layout.hover > .u-section-2 .u-text-6 {
  color: #ffffff !important;
}

.u-section-2 .u-text-8,
.u-section-2 .u-text-8:before,
.u-section-2 .u-text-8 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-container-layout:hover .u-text-8 {
  color: #ffffff !important;
}

.u-container-layout.hover > .u-section-2 .u-text-8 {
  color: #ffffff !important;
}

.u-section-2 .u-text-10,
.u-section-2 .u-text-10:before,
.u-section-2 .u-text-10 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-container-layout:hover .u-text-10 {
  color: #ffffff !important;
}

.u-container-layout.hover > .u-section-2 .u-text-10 {
  color: #ffffff !important;
}

.u-section-2 .u-text-12,
.u-section-2 .u-text-12:before,
.u-section-2 .u-text-12 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-container-layout:hover .u-text-12 {
  color: #ffffff !important;
}

.u-container-layout.hover > .u-section-2 .u-text-12 {
  color: #ffffff !important;
}

.u-section-2 .u-text-14,
.u-section-2 .u-text-14:before,
.u-section-2 .u-text-14 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-container-layout:hover .u-text-14 {
  color: #ffffff !important;
}

.u-container-layout.hover > .u-section-2 .u-text-14 {
  color: #ffffff !important;
} .u-section-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url("images/successful-happy-group-of-people-learning-software-engineering-and-business-during-presentation-e1637055354309.jpg");
}

.u-section-3 .u-sheet-1 {
  min-height: 497px;
}

.u-section-3 .u-text-1 {
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 50px auto 0 587px;
}

.u-section-3 .u-text-2 {
  font-weight: 700;
  margin: 1px auto 0;
}

.u-section-3 .u-text-3 {
  font-size: 1rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  width: 496px;
  margin: 11px 402px 0;
}

.u-section-3 .u-list-1 {
  width: 1200px;
  margin: 40px auto 51px;
}

.u-section-3 .u-repeater-1 {
  min-height: 242px;
  grid-auto-columns: calc(33.3333% - 40px);
  grid-template-columns: repeat(3, calc(33.3333% - 40px));
  grid-gap: 60px;
}

.u-section-3 .u-list-item-1 {
  background-image: none;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 30px 25px;
}

.u-section-3 .u-text-4 {
  font-size: 1rem;
  margin: 0;
}

.u-section-3 .u-group-elements-1 {
  min-height: 60px;
  margin-top: 49px;
  margin-bottom: 0;
  height: auto;
  width: 333px;
}

.u-section-3 .u-text-5 {
  font-weight: 600;
  margin: 0 0 0 81px;
}

.u-section-3 .u-image-1 {
  width: 60px;
  height: 60px;
  margin: -22px auto 0 0;
}

.u-section-3 .u-text-6 {
  font-size: 0.875rem;
  margin: -38px 0 0 81px;
}

.u-section-3 .u-list-item-2 {
  background-image: none;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 30px 25px;
}

.u-section-3 .u-text-7 {
  font-size: 1rem;
  margin: 0;
}

.u-section-3 .u-group-elements-2 {
  min-height: 60px;
  margin-top: 49px;
  margin-bottom: 0;
  height: auto;
  width: 333px;
}

.u-section-3 .u-text-8 {
  font-weight: 600;
  margin: 0 0 0 81px;
}

.u-section-3 .u-image-2 {
  width: 60px;
  height: 60px;
  margin: -22px auto 0 0;
}

.u-section-3 .u-text-9 {
  font-size: 0.875rem;
  margin: -38px 0 0 81px;
}

.u-section-3 .u-list-item-3 {
  background-image: none;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px 30px 25px;
}

.u-section-3 .u-text-10 {
  font-size: 1rem;
  margin: 0;
}

.u-section-3 .u-group-elements-3 {
  min-height: 60px;
  margin-top: 49px;
  margin-bottom: 0;
  height: auto;
  width: 333px;
}

.u-section-3 .u-text-11 {
  font-weight: 600;
  margin: 0 0 0 81px;
}

.u-section-3 .u-image-3 {
  width: 60px;
  height: 60px;
  margin: -22px auto 0 0;
}

.u-section-3 .u-text-12 {
  font-size: 0.875rem;
  margin: -38px 0 0 81px;
}

.u-section-3 .u-list-item-4 {
  background-image: none;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px 30px 25px;
}

.u-section-3 .u-text-13 {
  font-size: 1rem;
  margin: 0;
}

.u-section-3 .u-group-elements-4 {
  min-height: 60px;
  margin-top: 49px;
  margin-bottom: 0;
  height: auto;
  width: 333px;
}

.u-section-3 .u-text-14 {
  font-weight: 600;
  margin: 0 0 0 81px;
}

.u-section-3 .u-image-4 {
  width: 60px;
  height: 60px;
  margin: -22px auto 0 0;
}

.u-section-3 .u-text-15 {
  font-size: 0.875rem;
  margin: -38px 0 0 81px;
}

.u-section-3 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
  padding: 16px;
}

.u-section-3 .u-gallery-nav-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
  padding: 16px;
}

@media (max-width: 1199px) {
   .u-section-3 {
    background-position: 50% 50%;
  }

  .u-section-3 .u-sheet-1 {
    min-height: 359px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 425px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 222px;
    margin-right: 222px;
  }

  .u-section-3 .u-list-1 {
    width: 940px;
  }

  .u-section-3 .u-repeater-1 {
    grid-auto-columns: calc(33.333333333333336% - 40px);
    grid-template-columns: repeat(3, calc(33.333333333333336% - 40px));
  }

  .u-section-3 .u-group-elements-1 {
    margin-top: 19px;
    width: auto;
  }

  .u-section-3 .u-group-elements-2 {
    margin-top: 19px;
    width: auto;
  }

  .u-section-3 .u-group-elements-3 {
    margin-top: 19px;
    width: auto;
  }

  .u-section-3 .u-group-elements-4 {
    margin-top: 19px;
    width: auto;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 275px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 326px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 112px;
    margin-right: 112px;
  }

  .u-section-3 .u-list-1 {
    width: 720px;
  }

  .u-section-3 .u-repeater-1 {
    grid-auto-columns: calc(50% - 30px);
    grid-template-columns: repeat(2, calc(50% - 30px));
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 206px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 245px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 22px;
    margin-right: 22px;
  }

  .u-section-3 .u-list-1 {
    width: 540px;
  }

  .u-section-3 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 130px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 154px;
  }

  .u-section-3 .u-text-3 {
    width: 340px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-list-1 {
    width: 340px;
  }

  .u-section-3 .u-repeater-1 {
    grid-auto-columns: 100%;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 688px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 501px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-text-1 {
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-2 {
  font-weight: 700;
  margin: 1px auto 0 0;
}

.u-section-4 .u-text-3 {
  font-size: 1rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 11px 0 0;
}

.u-section-4 .u-text-4 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

.u-section-4 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  margin: 30px 0 0;
  padding: 13px 30px 13px 29px;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 501px;
  background-image: none;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-text-5 {
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-4 .u-text-6 {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}

.u-section-4 .u-line-1 {
  width: 104px;
  transform-origin: right center;
  margin: 20px auto 0;
}

.u-section-4 .u-text-7 {
  margin: 30px auto 0;
}

.u-section-4 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-4 .u-btn-3 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  margin: 51px auto 0;
  padding: 13px 30px 13px 29px;
}

.u-section-4 .u-layout-cell-3 {
  min-height: 501px;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px;
}

.u-section-4 .u-text-8 {
  font-weight: 700;
  margin: 0 auto;
}

.u-section-4 .u-text-9 {
  margin: 20px auto 0;
}

.u-section-4 .u-line-2 {
  width: 104px;
  transform-origin: right center;
  height: 1px;
  margin: 20px auto 0;
}

.u-section-4 .u-text-10 {
  margin: 30px auto 0;
}

.u-section-4 .u-btn-4 {
  background-image: none;
  padding: 0;
}

.u-section-4 .u-btn-5 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  margin: 51px auto 0;
  padding: 13px 30px 13px 29px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 549px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 362px;
  }

  .u-section-4 .u-text-2 {
    font-size: 2.25rem;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 362px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 362px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 504px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-text-2 {
    font-size: 1.5rem;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1473px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1011px;
  }
}

.u-section-4 .u-btn-1,
.u-section-4 .u-btn-1:before,
.u-section-4 .u-btn-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-4 .u-btn-1.u-btn-1.u-btn-1:hover {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-section-4 .u-btn-1 {
  border-color: transparent !important;
}

.u-section-4 .u-btn-1.u-btn-1.u-btn-1.hover {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-section-4 .u-btn-1 {
  border-color: transparent !important;
}

.u-section-4 .u-btn-3,
.u-section-4 .u-btn-3:before,
.u-section-4 .u-btn-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-4 .u-btn-3.u-btn-3.u-btn-3:hover {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-section-4 .u-btn-3 {
  border-color: transparent !important;
}

.u-section-4 .u-btn-3.u-btn-3.u-btn-3.hover {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-section-4 .u-btn-3 {
  border-color: transparent !important;
}

.u-section-4 .u-btn-5,
.u-section-4 .u-btn-5:before,
.u-section-4 .u-btn-5 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-4 .u-btn-5.u-btn-5.u-btn-5:hover {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-section-4 .u-btn-5 {
  border-color: transparent !important;
}

.u-section-4 .u-btn-5.u-btn-5.u-btn-5.hover {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-section-4 .u-btn-5 {
  border-color: transparent !important;
}